* {
    font-family: monospace;
}

.wireshark h2 {
    background-color: #eee;
    padding: 20px;
    margin: 15px 0px 20px;
}

.hydra h2 {
    background-color: #eee;
    padding: 20px;
    margin: 15px 0px 20px;
}

.john_the_ripper h2 {
    background-color: #eee;
    padding: 20px;
    margin: 15px 0px 20px;
}

.nmap h2 {
    background-color: #eee;
    padding: 20px;
    margin: 15px 0px 20px;
}

.metasploit h2 {
    background-color: #eee;
    padding: 20px;
    margin: 15px 0px 20px;
}

.netcat h2 {
    background-color: #eee;
    padding: 20px;
    margin: 15px 0px 20px;
}

.sqlmap h2 {
    background-color: #eee;
    padding: 20px;
    margin: 15px 0px 20px;
}

.autopsy h2 {
    background-color: #eee;
    padding: 20px;
    margin: 15px 0px 20px;
}

.osint_framework h2 {
    background-color: #eee;
    padding: 20px;
    margin: 15px 0px 20px;
}

.code p {
    background-color: #cecece;
    margin: 0px 0px 10px;
    padding: 9.5px;
}

.button_outils {
    text-decoration: none;
    
}
